<div class="p-4 pt-4 shadow-sm bg-white">
  <h2 class="display-4">{{title}}</h2>
  <table class="table table-striped table-hover table-bordered bg-white">
    <caption>{{title}}</caption>
    <thead>
      <tr class="shadow-sm">
        <th scope="col">Function</th>
        <th scope="col">Instance name</th>
        <th scope="col">Ivents</th>
        <th scope="col">Instance status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let server of servers">
        <td scope="row" class="text-break">
          {{ server}}
        </td>
        <td>{{ server.name }}</td>
        <td>{{ server.vm_state }}</td>
        <td>{{ server.status }}</td>
        <td>
          <div class="container-md">
            <div *ngIf="server.addresses.networks.internal_network">
              <h6>Internal network</h6>
              <div class=ml-2 *ngFor="let network of server.addresses.networks.internal_network">
                <p class="text-monospace m-0">
                  <small>macAddr: {{ network.macAddr }}</small>
                </p>
                <p class="text-monospace m-0">
                  <small>addr: {{ network.addr }}</small>
                </p>
              </div>
            </div>
            <div *ngIf="server.addresses.networks.external_network">
              <h6 class="mt-2">External network</h6>
              <div class=ml-2 *ngFor="let network of server.addresses.networks.external_network">
                <p class="text-monospace m-0">
                  <small>macAddr: {{ network.macAddr }}</small>
                </p>
                <p class="text-monospace m-0">
                  <small>addr: {{ network.addr }}</small>
                </p>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="container btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary">
              Scale In
            </button>
            <button type="button" class="btn btn-sm btn-outline-secondary">
              Scale Out
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
