<div class="p-4 pt-4 shadow-sm bg-white">
  <h2 class="display-4">{{title}}</h2>
  <table class="table table-striped table-hover table-bordered bg-white">
    <caption>{{title}}</caption>
    <thead>
      <tr class="shadow-sm">
        <th scope="col">Description</th>
        <th scope="col">Events</th>
        <th scope="col">Technical Information</th>
        <th scope="col">Servers</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let instance of instances">
        <td scope="row" class="text-break">
          <p class="text-monospace m-0">
            <small>
              Name:
              {{ instance.function.name }}
            </small>
          </p>
          <p class="text-monospace m-0">
            <small>
              Description:
              {{ instance.function.description }}
            </small>
          </p>
          <p class="text-monospace m-0">
            <small>
              Prefix:
              {{ instance.function.prefix }}
            </small>
          </p>
        </td>
        <td>
          <p class="text-monospace m-0">
            <small>

            </small>
          </p>
        </td>
        <td>
          <p class="text-monospace m-0">
            <small>
              Flavor:
              {{ instance.function.flavor.reference }}
            </small>
          </p>
          <p class="text-monospace m-0">
            <small>
              Image:
              {{ instance.function.image.reference }}
            </small>
          </p>
          <p class="text-monospace m-0">
            <small>
              Configuration:
              {{ instance.function.configuration.script}}
            </small>
          </p>
          <hr>
          <p class="text-monospace m-0">
            <small>
              Scale In ability:
              {{ instance.function.scaleInAbility }}
            </small>
          </p>
          <p class="text-monospace m-0">
            <small>
              Scale Out ability:
              {{ instance.function.scaleOutAbility }}
            </small>
          </p>
          <hr>
        </td>
        <td>
          <div class="container-md">
            <div *ngIf="instance.servers">
              <div class=ml-2 *ngFor="let server of instance.servers">
                <p class="text-monospace m-0">
                  <small>Name: {{ server.name }}</small>
                </p>
                <p class="text-monospace m-0">
                  <small>ServerId: {{ server.serverId }}</small>
                </p>
                <hr>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="container btn-group-vertical">
            <button *ngIf="instance.function.scaleInAbility" type="button" class="btn btn-sm btn-outline-primary">
              Scale In
            </button>
            <button *ngIf="instance.function.scaleOutAbility" type="button" class="btn btn-sm btn-outline-secondary">
              Scale Out
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
