<header class="sticky-top">
  <nav class="navbar navbar-collapse
    navbar-expand-sm navbar-dark bg-dark shadow">
      <ul class="navbar-nav mr-auto">
        <li>
          <a href="/dashboard" class="nav-link ">Dashboard</a>
        </li>
        <li>
          <a href="/inventory" class="nav-link">Inventory</a>
        </li>
        <li>
          <a href="/endpoints" class="nav-link">Function configuration</a>
        </li>
      </ul>
      <!--
      <span class="navbar-text pr-2">
        Instance controller application
      </span>
      <form class="form-inline my-2 my-lg-0" id="global-search-form">
        <input class="form-control mr-sm-2" type="search"
               placeholder="Put something to search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      -->
  </nav>
</header>
