<div class="bg-light container rounded shadow mt-4">
  <div class="row mt-1 bg-dark text-light rounded shadow-sm">
    <div class="col-4">Instance name</div>
    <div class="col-sm">Status</div>
    <div class="col-sm">Image</div>
    <div class="col-sm">IP's</div>
    <div class="col-sm">Actions</div>
    <div class="col-sm">Details</div>
  </div>
  <div class="row bg-light">
    <div class="col-4">Test instance name</div>
    <div class="col-md">Active</div>
    <div class="col-md">Test image name</div>
    <div class="col-md">192.168.0.1/24</div>
    <div class="col-md">Start/Stop</div>
    <div class="col-md">Some details.</div>
  </div>
  <div class="row bg-info">
    <div class="col-4">Test instance name</div>
    <div class="col-md">Active</div>
    <div class="col-md">Test image name</div>
    <div class="col-md">192.168.0.1/24</div>
    <div class="col-md">Start/Stop</div>
    <div class="col-md">Some details.</div>
  </div>
  <div class="row bg-info">
    <div class="col-4">Test instance name</div>
    <div class="col-md">Active</div>
    <div class="col-md">Test image name</div>
    <div class="col-md">192.168.0.1/24</div>
    <div class="col-md">Start/Stop</div>
    <div class="col-md">Some details.</div>
  </div>
</div>
