<div class="p-4 pt-4 shadow-sm bg-white">
  <h2 class="display-4">{{title}}</h2>
  <table class="table table-striped table-hover table-bordered bg-white">
    <caption>{{title}}</caption>
    <thead>
      <tr class="shadow-sm">
        <th scope="col">Server</th>
        <th scope="col">Image</th>
        <th scope="col">IP Address</th>
        <th scope="col">Flavor</th>
        <th scope="col">Status</th>
        <th scope="col">Сreated</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let server of servers">
        <td scope="row" class="text-break">
          <h6>Id</h6>
          <div class="ml-2">
            <p class="text-monospace">
              <small>{{ server.id }}</small>
            </p>
          </div>
          <h6>Name</h6>
          <div class="ml-2">
            <p class="text-monospace">
              <small>{{ server.name }}</small>
            </p>
          </div>
          <h6>Instance name</h6>
          <div class="ml-2">
            <p class="text-monospace">
              <small>{{ server.instance_name }}</small>
            </p>
          </div>
        </td>
        <td class="text-break">
          <div class="container-sm" *ngIf="server.image">
            <h6>Id</h6>
            <div class="ml-2">
              <p class="text-monospace">
                <small>{{ server.image.id }}</small>
              </p>
            </div>
            <h6>Links</h6>
            <div class="ml-2" *ngFor="let link of server.image.links">
              <p class="text-monospace m-0">
                <small>href: {{ link.href}}</small>
              </p>
              <p class="text-monospace m-0">
                <small>rel: {{ link.rel }}</small>
              </p>
            </div>
          </div>
        </td>
        <td>
          <div class="container-md">
            <div *ngIf="server.addresses.networks.internal_network">
              <h6>Internal network</h6>
              <div class=ml-2 *ngFor="let network of server.addresses.networks.internal_network">
                <p class="text-monospace m-0">
                  <small>addr: {{ network.addr }}</small>
                </p>
                <p class="text-monospace m-0">
                  <small>type: {{ network.type }}</small>
                </p>
              </div>
            </div>
            <div *ngIf="server.addresses.networks.external_network">
              <h6 class="mt-2">External network</h6>
              <div class=ml-2 *ngFor="let network of server.addresses.networks.external_network">
                <p class="text-monospace m-0">
                  <small>addr: {{ network.addr }}</small>
                </p>
                <p class="text-monospace m-0">
                  <small>type: {{ network.type }}</small>
                </p>
              </div>
            </div>
          </div>
        </td>
        <td class="text-break">
          <div class="container-sm" *ngIf="server.flavor">
              <h6>Id</h6>
              <div class="ml-2">
                <p class="text-monospace">
                  <small>{{ server.flavor.id }}</small>
                </p>
              </div>
              <h6>Links</h6>
              <div class="ml-2" *ngFor="let link of server.flavor.links">
                <p class="text-monospace m-0">
                  <small>href: {{ link.href}}</small>
                </p>
                <p class="text-monospace m-0">
                  <small>rel: {{ link.rel }}</small>
                </p>
              </div>
          </div>
        </td>
        <td class="text-break">
          <p class="text-monospace m-0">
            <small>
              Status:
              {{ server.status }}
            </small>
          </p>
          <p class="text-monospace m-0">
            <small>
              VM state:
              {{ server.vm_state }}
            </small>
          </p>
          <p class="text-monospace m-0">
            <small>
              Task state:
              {{ server.task_state }}
            </small>
          </p>
          <p class="text-monospace m-0">
            <small>
              Power state:
              {{ server.power_state }}
            </small>
          </p>
          <p class="text-monospace m-0">
            <small>
              Progress:
              {{ server.progress }}
            </small>
          </p>
        </td>
        <td class="text-break">
          <p class="text-monospace m-0">
            <small>{{ server.created }}</small>
          </p>
        </td>
        <td class="text-break">
          <p class="container btn-group-vertical">
            <button (click)="refresh()" type="button" class="btn btn-sm btn-outline-dark">
              Refresh
            </button>
            <button (click)="serverAction(serverActions.START, server.id)" type="button" class="btn btn-sm btn-outline-primary">
              Start
            </button>
            <button (click)="serverAction(serverActions.STOP, server.id)" type="button" class="btn btn-sm btn-outline-secondary">
              Stop
            </button>
            <button (click)="serverAction(serverActions.PAUSE, server.id)" type="button" class="btn btn-sm btn-outline-info">
              Pause
            </button>
            <button (click)="serverAction(serverActions.UNPAUSE, server.id)" type="button" class="btn btn-sm btn-outline-info">
              Unpause
            </button>
            <button (click)="serverAction(serverActions.SOFT_REBOOT, server.id)" type="button" class="btn btn-sm btn-outline-info">
              Soft reboot
            </button>
            <button (click)="serverAction(serverActions.HARD_REBOOT, server.id)" type="button" class="btn btn-sm btn-outline-danger">
              Hard reboot
            </button>
            <button (click)="serverAction(serverActions.DELETE, server.id)" type="button" class="btn btn-sm btn-outline-dark">
              Delete
            </button>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
